@tailwind base;
@tailwind components;
@tailwind utilities;

/* clerk sign in and sign up form styles */
.cl-card,
.cl-footer .cl-footerAction,
.cl-internal-1dauvpw {
  background-color: #1c1f2e;
}

.cl-card {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.cl-footer .cl-footerAction {
  width: 100%;
}

.cl-headerTitle,
.cl-headerSubtitle,
.cl-socialButtonsBlockButtonText,
.cl-dividerText,
.cl-formFieldLabel,
.cl-footerActionText,
.cl-internal-wf8x4b,
.cl-internal-1fcj7sw {
  color: white;
}

.cl-socialButtonsBlockButton {
  background-color: #444963;
}

.cl-socialButtonsBlockButton:hover {
  background-color: #3a3f55;
}

.cl-footerActionLink {
  color: blue;
}

.cl-internal-y44tp9 {
  margin-bottom: 16px;
}

.cl-internal-16vtwdp {
  display: none;
}

.cl-userButtonPopoverMain {
  background-color: #282a3a;
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}

.cl-userPreviewMainIdentifier,
.cl-userPreviewSecondaryIdentifier,
.cl-userButtonPopoverActionButtonIconBox,
.cl-userButtonPopoverActionButton {
  color: white;
}

.cl-userPreviewSecondaryIdentifier:hover,
.cl-userButtonPopoverActionButton:hover {
  color: rgb(85, 85, 243);
}

.cl-internal-81ln96 {
  background-color: #282a3a;
}
